In [1]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-04 18:57:48--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T185749Z&X-Amz-Expires=300&X-Amz-Signature=38a9b6775fe5d0649b5a9dc1a2de432c1fcf8a1a3ffea2cb681435588719719c&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-04 18:57:49--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T185749Z&X-Amz-Expires=300&X-Amz-Signature=38a9b6775fe5d0649b5a9dc1a2de432c1fcf8a1a3ffea2cb681435588719719c&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18.48M  80.3MB/s    in 0.2s

2024-03-04 18:57:49 (80.3 MB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/03/04 18:58:27 WARN Utils: Your hostname, codespaces-02ba34 resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
24/03/04 18:58:27 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/04 18:58:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/04 18:58:29 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
import gzip
import shutil

with gzip.open('fhv_tripdata_2019-10.csv.gz', 'rb') as f_in:
    with open('fhv_tripdata_2019-10.csv', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

In [7]:
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv')
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', StringType(), True), StructField('DOlocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [8]:
import pandas as pd
df_pandas = pd.read_csv('fhv_tripdata_2019-10.csv')
df_pandas.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [11]:
from pyspark.sql import types

schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [13]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv')

In [14]:
df = df.repartition(6)

In [15]:
df.write.parquet('fhvhv/2021/01/')

In [17]:
df = spark.read.parquet('fhvhv/2021/01/')
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02784|2019-10-01 09:55:38|2019-10-01 10:05:43|          89|          85|   null|                  null|
|              B01315|2019-10-05 15:13:04|2019-10-05 15:19:48|         264|          74|   null|                B01315|
|              B01984|2019-10-12 17:13:00|2019-10-12 17:40:00|         264|          75|   null|                B01984|
|              B00310|2019-10-15 10:55:04|2019-10-15 11:00:45|         264|         247|   null|                B03047|
|              B00932|2019-10-08 06:58:42|2019-10-08 07:11:11|         264|          37|   null|                B00932|
|              B01029|2019-10-10 14:45:00|2019-10-10 15:47:00|         264|         264|   null|                B01029|
|              B01087|2019-10-14 18:41:24|2019-10-14 19:02:06|         261|         186|   null|                B01087|
|              B03080|2019-10-05 14:49:10|2019-10-05 15:02:14|         264|          25|   null|                B02889|
|              B03160|2019-10-10 12:50:00|2019-10-10 13:34:00|          77|          77|   null|                B02882|
|              B02472|2019-10-16 14:12:36|2019-10-16 14:35:00|         264|         157|   null|                B02472|
|              B01051|2019-10-05 22:06:46|2019-10-05 22:16:57|         264|         182|   null|                B01051|
|              B02111|2019-10-08 14:58:52|2019-10-08 15:40:41|          98|          79|   null|                B02111|
|              B00254|2019-10-03 20:33:11|2019-10-03 21:52:16|         246|         265|   null|                B02356|
|              B00756|2019-10-16 10:58:00|2019-10-16 11:18:00|         264|         264|   null|                B00756|
|              B02249|2019-10-04 19:55:49|2019-10-04 20:08:25|         264|         192|   null|                B02249|
|              B03202|2019-10-13 07:39:33|2019-10-13 08:18:31|         264|         132|   null|                B03202|
|              B00419|2019-10-11 08:33:12|2019-10-11 08:46:22|         182|         185|   null|                B00419|
|              B02095|2019-10-09 11:16:00|2019-10-09 11:44:00|         264|         264|   null|                B02095|
|              B02930|2019-10-05 22:06:15|2019-10-05 22:25:31|         264|          69|   null|                B02930|
|              B01239|2019-10-07 20:08:15|2019-10-07 20:16:06|         264|          51|   null|                B02847|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [18]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [21]:
from pyspark.sql import functions as F

df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .select('*') \
    .show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|pickup_date|dropoff_date|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
|              B02784|2019-10-01 09:55:38|2019-10-01 10:05:43|          89|          85|   null|                  null| 2019-10-01|  2019-10-01|
|              B01315|2019-10-05 15:13:04|2019-10-05 15:19:48|         264|          74|   null|                B01315| 2019-10-05|  2019-10-05|
|              B01984|2019-10-12 17:13:00|2019-10-12 17:40:00|         264|          75|   null|                B01984| 2019-10-12|  2019-10-12|
|              B00310|2019-10-15 10:55:04|2019-10-15 11:00:45|         264|         247|   null|                B03047| 2019-10-15|  2019-10-15|
|              B00932|2019-10-08 06:58:42|2019-10-08 07:11:11|         264|          37|   null|                B00932| 2019-10-08|  2019-10-08|
|              B01029|2019-10-10 14:45:00|2019-10-10 15:47:00|         264|         264|   null|                B01029| 2019-10-10|  2019-10-10|
|              B01087|2019-10-14 18:41:24|2019-10-14 19:02:06|         261|         186|   null|                B01087| 2019-10-14|  2019-10-14|
|              B03080|2019-10-05 14:49:10|2019-10-05 15:02:14|         264|          25|   null|                B02889| 2019-10-05|  2019-10-05|
|              B03160|2019-10-10 12:50:00|2019-10-10 13:34:00|          77|          77|   null|                B02882| 2019-10-10|  2019-10-10|
|              B02472|2019-10-16 14:12:36|2019-10-16 14:35:00|         264|         157|   null|                B02472| 2019-10-16|  2019-10-16|
|              B01051|2019-10-05 22:06:46|2019-10-05 22:16:57|         264|         182|   null|                B01051| 2019-10-05|  2019-10-05|
|              B02111|2019-10-08 14:58:52|2019-10-08 15:40:41|          98|          79|   null|                B02111| 2019-10-08|  2019-10-08|
|              B00254|2019-10-03 20:33:11|2019-10-03 21:52:16|         246|         265|   null|                B02356| 2019-10-03|  2019-10-03|
|              B00756|2019-10-16 10:58:00|2019-10-16 11:18:00|         264|         264|   null|                B00756| 2019-10-16|  2019-10-16|
|              B02249|2019-10-04 19:55:49|2019-10-04 20:08:25|         264|         192|   null|                B02249| 2019-10-04|  2019-10-04|
|              B03202|2019-10-13 07:39:33|2019-10-13 08:18:31|         264|         132|   null|                B03202| 2019-10-13|  2019-10-13|
|              B00419|2019-10-11 08:33:12|2019-10-11 08:46:22|         182|         185|   null|                B00419| 2019-10-11|  2019-10-11|
|              B02095|2019-10-09 11:16:00|2019-10-09 11:44:00|         264|         264|   null|                B02095| 2019-10-09|  2019-10-09|
|              B02930|2019-10-05 22:06:15|2019-10-05 22:25:31|         264|          69|   null|                B02930| 2019-10-05|  2019-10-05|
|              B01239|2019-10-07 20:08:15|2019-10-07 20:16:06|         264|          51|   null|                B02847| 2019-10-07|  2019-10-07|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
only showing top 20 rows

In [23]:
df.registerTempTable('fhv_tripdata')

/workspaces/DataEngineer/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [31]:
df_trips = spark.sql("""
SELECT 
    COUNT(*)
FROM
    fhv_tripdata
WHERE
    pickup_datetime >= '2019-10-15 00:00:00' AND pickup_datetime < '2019-10-16 00:00:00'
""")

In [32]:
df_trips.show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

In [38]:
df_longest = spark.sql("""
SELECT 
    MAX(DATEDIFF(dropoff_datetime, pickup_datetime) * 24 + HOUR(dropoff_datetime) - HOUR(pickup_datetime)) AS longest_trip_hours
FROM
    fhv_tripdata
""")

df_longest.show()

+------------------+
|longest_trip_hours|
+------------------+
|            631152|
+------------------+

In [39]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-03-04 20:03:55--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T200355Z&X-Amz-Expires=300&X-Amz-Signature=eaf7f1e26c51f08f3422663ce7b1960f4c0dcd0be386895559635c03c186d4fb&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-03-04 20:03:55--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T200355Z&X-Amz-Expires=300&X-Amz-Signature=eaf7f1e26c51f08f3422663ce7b1960f4c0dcd0be386895559635c03c186d4fb&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.001s

2024-03-04 20:03:56 (9.27 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [69]:
df_zone = pd.read_csv('taxi_zone_lookup.csv')
df_zone.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [70]:
schema = types.StructType([
    types.StructField('LocationID', types.IntegerType(), True),
    types.StructField('Borough', types.StringType(), True),
    types.StructField('Zone', types.StringType(), True),
    types.StructField('service_zone', types.StringType(), True)
])

In [71]:
df_zones = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('taxi_zone_lookup.csv')

In [76]:
df_zones = df_zones.repartition(6)
df_zones.write.parquet('zone')
df_zones = spark.read.parquet('zone')
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|       188|     Brooklyn|Prospect-Lefferts...|   Boro Zone|
|        67|     Brooklyn|       Dyker Heights|   Boro Zone|
|       120|    Manhattan|     Highbridge Park|   Boro Zone|
|       214|Staten Island|South Beach/Donga...|   Boro Zone|
|       250|        Bronx|Westchester Villa...|   Boro Zone|
|       100|    Manhattan|    Garment District| Yellow Zone|
|       259|        Bronx|  Woodlawn/Wakefield|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|       263|    Manhattan|      Yorkville West| Yellow Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|       223|       Queens|            Steinway|   Boro Zone|
|        85|     Brooklyn|             Erasmus|   Boro Zone|
|       158|    Manhattan|Meatpacking/West ...| Yellow Zone|
|       198|       Queens|           Ridgewood|   Boro Zone|
|       262|    Manhattan|      Yorkville East| Yellow Zone|
|       197|       Queens|       Richmond Hill|   Boro Zone|
|       105|    Manhattan|Governor's Island...| Yellow Zone|
|       230|    Manhattan|Times Sq/Theatre ...| Yellow Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
|       145|       Queens|Long Island City/...|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [77]:
df_zones.registerTempTable('zone')

In [78]:
spark.sql("""
SELECT
   zone.Zone,
   COUNT(1) as Total
FROM 
    fhv_tripdata 
    INNER JOIN zone ON fhv_tripdata.PULocationID = zone.LocationID  
WHERE zone.Zone = "East Chelsea"
GROUP BY 
    1
""").show()

+------------+-----+
|        Zone|Total|
+------------+-----+
|East Chelsea| 1381|
+------------+-----+

In [79]:
spark.sql("""
SELECT
   zone.Zone,
   COUNT(1) as Total
FROM 
    fhv_tripdata 
    INNER JOIN zone ON fhv_tripdata.PULocationID = zone.LocationID  
WHERE zone.Zone = "Jamaica Bay"
GROUP BY 
    1
""").show()

+-----------+-----+
|       Zone|Total|
+-----------+-----+
|Jamaica Bay|    1|
+-----------+-----+

In [80]:
spark.sql("""
SELECT
   zone.Zone,
   COUNT(1) as Total
FROM 
    fhv_tripdata 
    INNER JOIN zone ON fhv_tripdata.PULocationID = zone.LocationID  
WHERE zone.Zone = "Crown Heights North"
GROUP BY 
    1
""").show()

+-------------------+-----+
|               Zone|Total|
+-------------------+-----+
|Crown Heights North| 3036|
+-------------------+-----+

In [81]:
spark.sql("""
SELECT
   zone.Zone,
   COUNT(1) as Total
FROM 
    fhv_tripdata 
    INNER JOIN zone ON fhv_tripdata.PULocationID = zone.LocationID  
WHERE zone.Zone = "Union Sq"
GROUP BY 
    1
""").show()

+--------+-----+
|    Zone|Total|
+--------+-----+
|Union Sq| 1893|
+--------+-----+